@model IEnumerable<QLBGD.Models.NhanHieu>

@{
    ViewBag.Title = "Danh sách nhãn hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int i = 0;
}


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Nhãn hiệu
    </div>
    <p>
        @Html.ActionLink("Tạo mới", "Create")
    </p>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="background-color: #778899;">
                        <th>
                            Số thứ tự
                        </th>
                        <th>
                            Tên nhãn hiệu
                        </th>
                        <th>
                            Ghi chú
                        </th>
                        <th>
                            Ảnh nhãn hiệu
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @{i++;}
                                @i
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenNhanHieu)
                            </td>
                            <td style="width:500px;">
                                @Html.DisplayFor(modelItem => item.GhiChu)
                            </td>
                            <td style="width: 260px;">
                                <img src="~/Images/brands/@Html.DisplayFor(modelItem => item.AnhNH)" width="250" height="250" />
                            </td>
                            <td>
                                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaNhanHieu })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
