
@{
	ViewBag.Title = "Trang chủ quản lý";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>


	.bgimg {
		background-position: center;
		background-size: cover;
		background-image: url("/w3images/coffeehouse.jpg");
		min-height: 75%;
	}

	.menu {
		display: none;
	}
</style>
<body>


    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-grayscale w3-large">

        <!-- About Container -->
        <div class="w3-container" id="about">
            <div class="w3-content" style="max-width:700px">
                <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Thông tin về cửa hàng</span></h5>
                <p>“Bạn sẽ khó có nhiều thời gian để chăm chút cho sự lựa chọn giày dép. Có quá nhiều người nghĩ rằng giày dép không quan trọng, nhưng toàn bộ sự tinh tế của ta toát ra chính từ đôi chân.”.</p>
                <p> Christian Dior  </p>
                <p>“Một đôi giày có thể thay đổi cuộc đời bạn.”.</p>
                <p>Cinderella</p>
                <div class="w3-panel w3-leftbar w3-light-grey">
                    <p><i>Danh ngôn về thời trang</i></p>
                </div>
                <img src="~/Images/myShop.png" style="width:100%;max-width:1000px" class="w3-margin-top"
                <p><strong>Cửa hàng:</strong> FS Sneakers Nha Trang</p>
                <p><strong>Giờ mở cửa:</strong> mỗi ngày từ 6 giờ sáng đến 21 giờ tối.</p>
                <p><strong>Địa chỉ:</strong> Số 124, Nguyễn Đình Chiểu</p>
            </div>
        </div>
    </div>



    <!-- Footer -->
    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
        <p><a href="#!" class="w3-hover-text-green">Trân trọng!</a></p>
    </footer>

    <script>
        // Tabbed Menu
        function openMenu(evt, menuName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("menu");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
            }
            document.getElementById(menuName).style.display = "block";
            evt.currentTarget.firstElementChild.className += " w3-dark-grey";
        }
        document.getElementById("myLink").click();
    </script>

</body>
</html>

