@model QLBGD.Models.LoaiSanPham

@{
	ViewBag.Title = "Details";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.TenLoaiSanPham)</h2>

@Html.Partial("_SanPhamPartial", Model.SanPhams)