@model IEnumerable<QLBGD.Models.NhanHieu>
@{
	ViewBag.Title = "Danh sách nhãn hiệu";
	Layout = "~/Areas/NhanViens/Views/Shared/_Layout.cshtml";
	int i = 0;
}


<div class="card mb-4">
	<div class="card-header">
		<i class="fas fa-table mr-1"></i>
		Nhãn hiệu
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>
							Số thứ tự
						</th>
						<th>
							Tên nhãn hiệu
						</th>
						<th>
							Ghi chú
						</th>
						<th>
							Ảnh nhãn hiệu
						</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@{i++;}
								@i
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TenNhanHieu)
							</td>
							<td style="width:550px;">
								@Html.DisplayFor(modelItem => item.GhiChu)
							</td>
							<td style="width:251px;">
								<img src="~/Images/brands/@Html.DisplayFor(modelItem => item.AnhNH)" width="250" height="250" />
							</td>
							<td>
								@Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaNhanHieu })
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


